* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Ubuntu", sans-serif;
    font-weight: 600;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a9a9a9;
    border-bottom: 2px solid #000;
    transform: scale(1.5); 
    transform-origin: top left; 
}


.logo img {
    height: 40px;
    margin-left: 10px;
    transition: transform 0.3s ease;
    transition: background-color 0.3s ease, padding 0.3s ease;
}
.logo img:hover{
    background-color: #000;
}


.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-left: 1rem;
}

.nav-links li {
    margin: 0;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    padding: 1rem 1rem;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.nav-links a:hover {
    color: #f5f5f5;
    background-color: #000;
    padding: 1rem 1rem;
}

